<section>
    <div class="px-10 pb-0 pt-10 container max-lg:px-4 max-lg:pt-4">
        <div class="header flex items-baseline gap-10 w-[100%] max-w-[1200px] max-lg:flex-col">
            <app-product-view class="w-[50%] max-lg:w-full" [listImage]="dataFake.listImage"></app-product-view>
            <div class="flex flex-col items-start w-full gap-2">
                <div class="product__name">
                    {{dataFake.productName}}
                </div>
                <div class="flex items-center">
                    <div class="flex items-center gap-2">
                        <i class="pi pi-star-fill"></i>
                        <span class="font-semibold">{{dataFake.rating | number:'1.1-1'}}</span>
                    </div>
                    <div class="h-[20px] w-[1px] bg-gray-300 mx-6 max-lg:mx-3"></div>
                    <div class="flex items-center gap-2">
                        <i class="pi pi-bell"></i>
                        <span class="font-semibold">Monitor price</span>
                    </div>
                    <div class="h-[20px] w-[1px] bg-gray-300 mx-6 max-lg:mx-3"></div>
                    <div class="flex items-center gap-2">
                        <img src="../../../assets/icon/scale.png">
                        <span class="font-semibold">Compare</span>
                    </div>
                </div>
                <div [innerHTML]="dataFake.description"></div>
                <div class="mt-3 flex items-center gap-3 w-full flex-wrap">
                    <div class="rounded-3xl cursor-pointer text-black text-sm bg-white border border-gray-300 py-2 px-4"
                        *ngFor="let type of dataFake.type">
                        {{type}}
                    </div>
                </div>
                <div class="mt-3 flex items-center gap-3 w-full flex-wrap">
                    <div class="flex items-center justify-center gap-2 rounded-3xl cursor-pointer text-black text-sm bg-white border border-gray-300 py-2 px-4"
                        *ngFor="let color of dataFake.color">
                        <div *ngIf="color.hexColor !== ''" class="w-[20px] h-[20px] rounded-2xl"
                            [ngStyle]="{'background': color.hexColor}"></div>
                        {{color.colorName}}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mt-8 items-baseline justify-start gap-5 max-lg:overflow-x-scroll scroll-smooth">
            <div class="cursor-pointer text-[#888888] text-nowrap" (click)="setTab(item)" [class.selected]="currentTab == item.id"
                *ngFor="let item of listTab">
                {{item.name}}
            </div>
        </div>
    </div>
    <div class="p-10 max-lg:p-4 bg-[#f3f3f5] w-full max-w-[100vw]">
        <div class="container">
            <div class="w-full flex items-center justify-between max-lg:overflow-x-scroll scroll-smooth">
                <div class="flex items-center gap-3">
                    <div class="rounded-3xl bg-white flex items-center justify-center p-3">
                        <i class="pi pi-sliders-h cursor-pointer"></i>
                    </div>
                    <div class="rounded-3xl text-nowrap bg-white flex items-center justify-center p-3">
                        Only in stock
                    </div>
                    <div class="rounded-3xl text-nowrap bg-white flex items-center justify-center p-3">
                        Price with shipping
                    </div>
                    <app-dropdown [placeholder]="'Delivery options'"></app-dropdown>
                </div>
                <app-dropdown class="max-lg:ml-3" [placeholder]="'Recommended'"></app-dropdown>
            </div>
            <div class="mt-4 w-full flex flex-col items-start gap-3">
                @for (item of advertiseList; track $index) {
                <div class="w-full">
                    <app-advertisement [advertise]="item"></app-advertisement>
                </div>
                }
            </div>
        </div>
    </div>
</section>